* {
    box-sizing: border-box; 
}

body{
    /*background-image: url("http://www.csszengarden.com/214/huntington.jpg");
    background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours.png");
    background-repeat: repeat, repeat;*/
    background-image: url("http://www.csszengarden.com/214/bamboo.png");
    background-attachment: fixed;
    background-size: cover;
}

#fontOne{
    font-family: 'Julius Sans One', sans-serif;
}

#fontTwo{
    font-family: 'Libre Baskerville', serif;
}

#container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*grid-template-rows: repeat(6, 1fr);*/
}

#divOne{
    background-image: url("http://www.csszengarden.com/214/gridlines.png"), url("http://www.csszengarden.com/214/contours.png"), url("http://www.csszengarden.com/214/huntington.jpg");
    background-size: auto, auto, cover;
    background-attachment: fixed, fixed, scroll;
    /*background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours-opaque.png");*/
    /*background-image: url("http://www.csszengarden.com/214/gridlines.png"), url("http://www.csszengarden.com/214/contours.png");*/
    /*background-repeat: repeat, repeat, no-repeat;*/
    grid-column: 1/13;
    /*grid-row: 1/2;*/
    height: 300px;
}

#imgOne{
    height: 140px;
    width: 140px;
    margin-top: 75px;
    margin-left: 150px;
}

#textOne{
    display: block;
    position: absolute;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    margin-left: 335px;
    margin-top: 0px;
    top: 120px;
}

#textTwo{
    display: block;
    position: absolute;
    color: white;
    opacity: 0.5;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 20px;
    margin-left: 340px;
    margin-top: 0px;
    top: 175px;
}

#buttonOne{
    opacity: 0.2;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    position: absolute;
    height: 75px;
    right: 94px;
    width: 450px;
    margin-top: 115px;
}

#buttonTwo{
    opacity: 0.2;
    position: absolute;
    height: 75px;
    width: 70px;
    right: 25px;
    margin-top: 115px;
}

/*#divTwo{
    background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours.png");
    background-repeat: repeat, repeat;
    grid-column: 9/13;
    grid-row: 1/2;
    height: 300px;
}*/

#divThree{
    /*background-color: #edf4f0;*/
    background-color: #ffffff;
    color: #325050;
    /*font-family: 'Libre Baskerville', serif;*/
    /*font-family: 'Julius Sans One', sans-serif;*/
    font-weight: 400;
    /*text-indent: 0px, each-line;*/
    text-align: justify;
    line-height: 2;
    padding: 30px 100px 30px 175px;
    grid-column: 1/9;
    /*grid-row: 2/3;*/
}

#headerThree{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
}

#divFour{
    /*background-color: #d9e3dc;*/
    background-color: #e5ede8;
    font-size: 15px;
    padding: 100px 200px 100px 100px;
    grid-column: 9/13;
    /*grid-row: 2/3;*/
}

#textFour{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
    color: #325050;
}

#spacingFour{
    line-height: 0.25;
}

#paddingFour{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #C0CAC3;
}

#paddingFourAlt{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #C0CAC3;
}

#insideTextFour{
    color: #C0CAC3;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 11px;
}

#otherInsideTextFour{
    color: #616857;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
}

#divFive{
    background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours.png");
    background-repeat: repeat, repeat;
    /*background-color: #e5ede8;*/
    background-color: #c5dcce;
    color: #325050;
    font-weight: 400;
    text-align: justify;
    line-height: 2;
    padding: 30px 100px 30px 175px;
    opacity: 0.5;
    grid-column: 1/9;
    /*grid-row: 3/4;*/
}

#headerFive{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
}

hr{
    height: 1px;
    background-color: #325050;
    border: none;
}

#divSix{
    background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours.png");
    background-repeat: repeat, repeat;
    background-color: #a0b9ad;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    color: #325050;
    padding: 100px 200px 100px 100px;
    opacity: 0.5;
    grid-column: 9/13;
    /*grid-row: 3/4;*/
}

#divSeven{
    /*background-color: #edf4f0;*/
    background-color: #ffffff;
    color: #325050;
    font-weight: 400;
    text-align: justify;
    line-height: 2;
    padding: 30px 100px 30px 175px;
    grid-column: 1/9;
    /*grid-row: 4/5;*/ 
}

#headerSeven{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
}

#divEight{
    /*background-color: #d9e3dc;*/
    background-color: #e5ede8;
    grid-column: 9/13;
    /*grid-row: 4/5;*/ 
}

#divNine{
    background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/koi.jpg");
    background-size: auto, auto, cover;
    /*background-image: url("http://www.csszengarden.com/214/gridlines.png"), url("http://www.csszengarden.com/214/contours.png");*/
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: fixed, fixed, scroll;
    font-family: 'Libre Baskerville', serif;
    color: #325050;
    font-size: 30px;
    text-align: center;
    padding: 40px 40px 40px 40px;
    grid-column: 1/13;
    /*grid-row: 5/6;*/
}

#textNine{
    color: white;
    opacity: 0.5;
    font-style: italic;
}

#otherTextNine{
    font-style: normal;
}

#divTen{
    background-color: #134347;
    padding: 40px 40px 40px 40px;
    grid-column: 1/13;
    /*grid-row: 5/6;*/
}

#icons{
    display: flex;
    justify-content: space-evenly;
    font-size: 75px;
}

@media(max-width: 1500px){

    #container{
        /*display: block;*/
        grid-template-columns: repeat(12, 1fr);
        /*grid-template-rows: repeat(12, 1fr);*/
    }

    #divOne{
        /*display: block;*/
        /*text-align: center;*/
        grid-column: 1/13;
        height: 250px;
        /*grid-row: 1/2;*/
    }

    #imgOne{
        /*display: block;*/
        position: absolute;
        /*top: 0px;*/
        height: 100px;
        width: 100px;
        margin-left: 450px;
        margin-right: 0px;
        margin-top: 45px;
    }
    
    #textOne{
        /*display: block;*/
        margin-left: 600px;
        /*margin-right: auto;*/
        position: absolute;
        color: white;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 30px;
        margin-top: 0px;
        top: 80px;
    }
    
    #textTwo{
        /*display: block;*/
        margin-left: 600px;
        /*margin-right: auto;*/
        position: absolute;
        color: white;
        opacity: 0.5;
        font-family: 'Libre Baskerville', serif;
        font-size: 20px;
        margin-top: 0px;
        top: 120px;
    }

    #buttonOne{
        opacity: 0.2;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
        /*display: block;*/
        height: 75px;
        width: 90%;
        right: 0px;
        left: 0px;
        margin-top: 0px;
        top: 184px;
    }
    
    #buttonTwo{
        opacity: 0.2;
        /*display: block;*/
        height: 75px;
        width: 10%;
        right: 0px;
        margin-top: 0px;
        top: 184px;
    }

    #divThree{
        /*font-size: 10px;*/
        line-height: 2;
        padding: 25px 100px 25px 175px;
        /*padding: 20px 20px 20px 20px;*/
        grid-column: 1/9;
        /*grid-row: 2/3;*/
    }

    #headerThree{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 25px;
    }
    
    #divFour{
        padding: 100px 150px 100px 50px;
        /*padding: 20px 20px 20px 20px;*/
        grid-column: 9/13;
        /*grid-row: 10/11;*/
    }

    #divFive{
        padding: 25px 100px 25px 175px;
        /*padding: 20px 20px 20px 20px;*/
        grid-column: 1/9;
        /*grid-row: 3/4;*/
    }

    /*#fontTwo{
        font-size: 10px;
    }*/
    
    #headerFive{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 25px;
    }

    #divSix{
        padding: 100px 150px 100px 50px;
        /*padding: 20px 20px 20px 20px;*/
        grid-column: 9/13;
        /*grid-row: 11/12;*/
    }

    #divSeven{
        padding: 25px 100px 25px 175px;
        /*padding: 20px 20px 20px 20px;*/
        grid-column: 1/9;
        /*grid-row: 5/6;*/
    }

    #headerSeven{
        font-size: 25px;
    }

    #divNine{
        font-size: 17px;
        padding: 20px 20px 20px 20px;
        line-height: 2;
        grid-column: 1/13;
        /*grid-row: 6/7;*/
    }

    #divTen{
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        /*grid-row: 8/9;*/
    }
    
}

@media(max-width: 1200px){

    * {
        box-sizing: border-box; 
    }

    #container{
        /*display: block;*/
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, auto);
    }

    #divOne{
        /*display: block;*/
        text-align: center;
        grid-column: 1/13;
        height: 250px;
        grid-row: 1/2;
    }

    #imgOne{
        display: block;
        position: static;
        /*top: 0px;*/
        height: 75px;
        width: 75px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }
    
    #textOne{
        margin-left: auto;
        margin-right: auto;
        position: static;
        color: white;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 20px;
        margin-top: 15px;
    }
    
    #textTwo{
        margin-left: auto;
        margin-right: auto;
        position: static;
        color: white;
        opacity: 0.5;
        font-family: 'Libre Baskerville', serif;
        font-size: 10px;
        margin-top: 20px;
    }

    #buttonOne{
        opacity: 0.2;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
        /*display: block;*/
        height: 75px;
        width: 90%;
        right: 0px;
        left: 0px;
        margin-top: 0px;
        top: 184px;
    }
    
    #buttonTwo{
        opacity: 0.2;
        /*display: block;*/
        height: 75px;
        width: 10%;
        right: 0px;
        margin-top: 0px;
        top: 184px;
    }

    #divThree{
        font-size: 10px;
        line-height: 2;
        /*padding: 25px 100px 25px 175px;*/
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        grid-row: 2/3;
    }

    #headerThree{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
    }
    
    #divFour{
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        grid-row: 7/8;
    }

    #textFour{
        font-size: 12px;
    }

    #insideTextFour{
        font-size: 10px;
    }

    #otherInsideTextFour{
        font-size: 10px;
    }

    #paddingFourAlt{
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: #e5ede8;
    }

    .column{
        float: left;
        width: 50%;
    }

    #divFive{
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        grid-row: 3/4;
    }

    #fontTwo{
        font-size: 10px;
    }
    
    #headerFive{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
    }

    #divSix{
        font-size: 12px;
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        grid-row: 8/9;
    }

    #divSeven{
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        grid-row: 4/5;
    }

    #headerSeven{
        font-size: 15px;
    }

    #divNine{
        font-size: 17px;
        padding: 20px 20px 20px 20px;
        line-height: 2;
        grid-column: 1/13;
        grid-row: 5/6;
    }

    #divTen{
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        grid-row: 6/7;
    }

    #icons{
        font-size: 60px;
    }
    
}

@media(max-width: 1199px){

    #divThree{
        padding: 20px 80px 20px 80px;
    }

    #divFour{
        padding: 20px 80px 20px 80px;
    }

    #divFive{
        padding: 20px 80px 20px 80px;
    }

    #divSix{
        padding: 20px 80px 20px 80px;
    }

    #divSeven{
        padding: 20px 80px 20px 80px;
    }

    #divNine{
        padding: 20px 80px 20px 80px;
    }

    #divTen{
        padding: 20px 80px 20px 80px;
    }
}

@media(max-width: 600px){

    #container{
        /*display: block;*/
        grid-template-columns: repeat(12, 1fr);
        /*grid-template-rows: repeat(12, 1fr);*/
    }

    #divOne{
        display: block;
        text-align: center;
        grid-column: 1/13;
        height: 250px;
        /*grid-row: 1/2;*/
    }

    #imgOne{
        display: block;
        position: static;
        /*top: 0px;*/
        height: 75px;
        width: 75px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }
    
    #textOne{
        margin-left: auto;
        margin-right: auto;
        position: static;
        color: white;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 20px;
        margin-top: 15px;
    }
    
    #textTwo{
        margin-left: auto;
        margin-right: auto;
        position: static;
        color: white;
        opacity: 0.5;
        font-family: 'Libre Baskerville', serif;
        font-size: 10px;
        margin-top: 20px;
    }

    #buttonOne{
        opacity: 0.2;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
        display: block;
        height: 75px;
        width: 90%;
        right: 0px;
        left: 0px;
        margin-top: 0px;
        top: 184px;
    }
    
    #buttonTwo{
        opacity: 0.2;
        display: block;
        height: 75px;
        width: 10%;
        right: 0px;
        margin-top: 0px;
        top: 184px;
    }

    #divThree{
        font-size: 10px;
        line-height: 2;
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        /*grid-row: 2/3;*/
    }

    #headerThree{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
    }
    
    #divFour{
        font: 10px;
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        /*grid-row: 10/11;*/
    }

    #divFive{
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        /*grid-row: 3/4;*/
    }

    #fontTwo{
        font-size: 10px;
    }
    
    #headerFive{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 15px;
    }

    #divSix{
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        /*grid-row: 11/12;*/
    }

    #divSeven{
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        /*grid-row: 5/6;*/
    }

    #headerSeven{
        font-size: 15px;
    }

    #divNine{
        font-size: 17px;
        padding: 20px 20px 20px 20px;
        line-height: 2;
        grid-column: 1/13;
        /*grid-row: 6/7;*/
    }

    #divTen{
        padding: 20px 20px 20px 20px;
        grid-column: 1/13;
        /*grid-row: 8/9;*/
    }
    
    #icons{
        font-size: 50px;
    }
}