body{
    /*background-image: url("http://www.csszengarden.com/214/huntington.jpg");
    background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours.png");
    background-repeat: repeat, repeat;*/
    background-image: url("http://www.csszengarden.com/214/bamboo.png");
    background-attachment: fixed;
    background-size: cover;
}

#container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#divOne{
    background-image: url("http://www.csszengarden.com/214/gridlines.png"), url("http://www.csszengarden.com/214/contours.png"), url("http://www.csszengarden.com/214/huntington.jpg");
    background-size: auto, auto, cover;
    background-attachment: fixed, fixed, scroll;
    /*background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours-opaque.png");*/
    /*background-image: url("http://www.csszengarden.com/214/gridlines.png"), url("http://www.csszengarden.com/214/contours.png");*/
    /*background-repeat: repeat, repeat, no-repeat;*/
    grid-column: 1/13;
    grid-row: 1/3;
    height: 300px;
}

#imgOne{
    height: 140px;
    width: 140px;
    margin-top: 75px;
    margin-left: 150px;
}

#textOne{
    position: absolute;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    margin-left: 335px;
    margin-top: 105px;
}

#textTwo{
    position: absolute;
    color: white;
    opacity: 0.5;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    margin-left: 340px;
    margin-top: 160px;
}

#buttonOne{
    opacity: 0.2;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    position: absolute;
    height: 75px;
    right: 94px;
    width: 450px;
    margin-top: 115px;
}

#buttonTwo{
    opacity: 0.2;
    position: absolute;
    height: 75px;
    width: 70px;
    right: 25px;
    margin-top: 115px;
}

#divTwo{
    /*background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours.png");
    background-repeat: repeat, repeat;*/
    grid-column: 9/13;
    grid-row: 1/3;
    height: 300px;
}

#divThree{
    background-color: #edf4f0;
    grid-column: 1/9;
    grid-row: 3/5;
}

#divFour{
    background-color: #d9e3dc;
    grid-column: 9/13;
    grid-row: 3/5;
}

#divFive{
    background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours.png");
    background-repeat: repeat, repeat;
    background-color: #e5ede8;
    opacity: 0.5;
    grid-column: 1/9;
    grid-row: 5/7;
}

#divSix{
    background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours.png");
    background-repeat: repeat, repeat;
    background-color: #a0b9ad;
    opacity: 0.5;
    grid-column: 9/13;
    grid-row: 5/7;
}

#divSeven{
    background-color: #edf4f0;
    grid-column: 1/9;
    grid-row: 7/9; 
}

#divEight{
    background-color: #d9e3dc;
    grid-column: 9/13;
    grid-row: 7/9; 
}

#divNine{
    background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/koi.jpg");
    background-size: auto, auto, cover;
    /*background-image: url("http://www.csszengarden.com/214/gridlines.png"), url("http://www.csszengarden.com/214/contours.png");*/
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: fixed, fixed, scroll;
    grid-column: 1/13;
    grid-row: 9/11;
}

#divTen{
    background-color: #134347;
    grid-column: 1/13;
    grid-row: 11/13;
}